@import './../../index.scss';

.login-page{
  width: 100%;
  height: 100vh;
  background-image: url("./../../assets/image/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.container{
  position: relative;
  z-index: 3;
  
}

.failed-validation-auth{
  color: #ff3347;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}

.auth-captcha-input{
  display: block;
  margin: 0 auto 20px auto;
  width: 200px;
  padding: 5px;
  border: none;
}

/*------------------------- Content -------------------------*/
.login-page__content-signin, .login-page__content-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h1{
    color: $baseBtnTextColor;
    margin: 0;
  }
  p{
    color: $baseBtnTextColor;
  }
}

.login-form{
  width: 400px;
}

.input-group{
  width: 100%;
  margin-bottom: 10px;

  hr{
    margin: 0;
  }

  &__email-signin, &__pass-signin, &__email-signup, &__pass-signup{
    position: relative;

    input{
      width: 100%;
      padding: 20px 50px 20px 30px;
      border: none;
      border-radius: 12px 12px 0 0;
      box-sizing: border-box;
      color: $baseTextColor;
      font-size: $baseTextSize;
    }
  }

  &__pass-signin, &__pass-signup{
    input{
      border-radius: 0 0 12px 12px;
    }
  }

  .fa-user, .fa-key{
    position: absolute;
    font-size: 18px;
    color: $baseTextColor;
    top: 18px;
    right: 25px;
  }
}

.additional-functions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 25px;

  .remember-login{
    label{
      color: $baseBtnTextColor;
      transition: color .2s ease;
    }

    &__checkbox:checked + label{
      color: $baseElementGradient_light;
    }
  }

  .lost-password{
    color: $baseBtnTextColor;
    transition: color .2s ease;
  }

  .remember-login label:hover, .lost-password:hover{
    cursor: pointer;
    color: $baseTextColor;
  }

  .lost-password{
    text-decoration: none;
  }
}






.login-btn-signin, .login-btn-signup{
  display: block;
  margin: 0 auto;
  padding: $baseSize*1.5 $baseSize*7;
  color: $baseBtnTextColor;
  border: none;
  border-radius: 50px;
  font-size: $baseTextSize;
  background-color: $baseElementGradient_dark;
  background-image: linear-gradient(90deg, $baseElementGradient_dark 0, 
                                           $baseElementGradient_light 50%, 
                                           $baseElementGradient_dark 100%);
  background-size: 200% auto;
  transition: color, background-position 0.8s ease;
}

.login-btn-signin:hover, .login-btn-signup:hover {
  color: $baseBtnTextColor;
  cursor: pointer;
  background-position: right center;
}

@media screen and (max-width: 600px) {
  .login-page__header{
    padding: 0 10px;
  }

  .login-form{
    width: 300px;
  }

  .login-page__content-signin, .login-page__content-signup{
    p{
      padding: 0 10px;
      text-align: center;
    }
  }

  .additional-functions{
    padding: 0;
  }
}