@import './../../index.scss';

.user-list{
    width: 600px;
    margin: 0 auto;
    border-left: 1px solid $secondaryTextColor;
    border-right: 1px solid $secondaryTextColor;
    box-sizing: border-box;

    &__header{
        padding: 0 20px;
        border-bottom: 1px solid $secondaryTextColor;
        background-color: $baseBackground;

        .people-counter{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid $secondaryTextColor;
            font-weight: bold;
            color: $baseNamesColor;

            &__all-count{
                span{
                    color: $baseTextColor;
                }
            }

            &__count{
                select {
                    color: $baseTextColor;
                    width: 45px;
                    box-sizing: border-box;
                    margin-left: 10px;
                    border: 1px solid $secondaryTextColor;
                    border-radius: 3px;
                    appearance: none;
                    background-color: $baseBackground;
                    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
                    background-repeat: no-repeat, repeat;
                    background-position: right 5px top 50%, 0 0;
                    background-size: 8px auto, 100%;
                    transition: border-color .2s ease;
                }
                select:hover {
                    border-color: $baseTextColor;
                    cursor: pointer;
                }
            }


        }
    }

    &__body{
        height: calc(100vh - 187px);
        overflow-y: auto;
        padding: 0 20px;
        scrollbar-width: thin;

        .user-preview{
            display: flex;
            align-items: center;
            height: 80px;
            justify-content: space-between;
            border-bottom: 1px solid $secondaryTextColor;

            &__data{
                display: flex;

                .avatar{
                    width: 60px;
                    height: 60px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 5px;
                    }
                }

                .person-data{
                    margin-left: 10px;

                    span{
                        display: block;
                    }

                    &__name{
                        text-decoration: none;
                        color: $baseNamesColor;
                        font-weight: bold;
                    }

                    &__status{
                        color: $baseTextColor;
                        margin-top: 5px;
                    }
                }
            }

            &__controls{
                button{
                    display: block;
                    margin: 0 auto;
                    padding: $baseSize $baseSize*2;
                    color: $baseBtnTextColor;
                    border: none;
                    border-radius: 50px;
                    font-size: $baseTextSize - 1;
                    background-color: $baseElementGradient_dark;
                    background-image: linear-gradient(90deg, $baseElementGradient_dark 0,
                            $baseElementGradient_light 50%,
                            $baseElementGradient_dark 100%);
                    background-size: 200% auto;
                    transition: color, background-position 0.8s ease;
                }

                button:hover{
                    color: $baseBtnTextColor;
                    cursor: pointer;
                    background-position: right center;
                }
            }
        }
    }

    &__show-more{
        height: 35px;
        width: 100%;
        box-sizing: border-box;

        button{
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            color: $baseBtnTextColor;
            border: none;
            font-size: $baseTextSize;
            background-color: $baseElementGradient_dark;
            background-image: linear-gradient(90deg, $baseElementGradient_dark 0,
                    $baseElementGradient_light 50%,
                    $baseElementGradient_dark 100%);
            background-size: 200% auto;
            transition: color, background-position 0.8s ease;
        }

        button:hover{
            color: $baseBtnTextColor;
            cursor: pointer;
            background-position: right center;
        }
    }
}