$baseSize: 10px;

$baseBackground: #ffffff;

$baseBackgroundGradient_dark: #383a45;
$baseBackgroundGradient_light: #4f5261;

$baseElementGradient_dark: #8224e3;
$baseElementGradient_light: #a968ec;

$baseActiveColor: #8224e3;

$baseTextSize: 14px;
$baseTextColor: #626c72;
$secondaryTextColor: #bbbbdc;

$baseBtnTextColor: #ffffff;

$baseNamesColor: #29292d;