@import './../../../index.scss';

.user-data__contacts{
    position: relative;
    width: 300px;
    background-color: #f8f9fb;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    height: max-content;

    .contact{
        display: flex;
        margin-top: 10px;

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $baseTextColor;
            transition: color .2s ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            svg{
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }

        a:hover{
            color: $baseActiveColor;
        }
    }
}