@import './styles/variables.scss';

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("./assets/fonts/NunitoSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: $baseTextSize;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1366px;
  margin: 0 auto;
}

.content-container{
  width: 700px;
  margin: 20px 0;
}